@import "tailwindcss";



@layer base {
  body {
    background-image: url("/src/assets/nebula-picture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    @apply flex items-center justify-center h-screen;
  }

  /* #root {
    @apply w-lg;
  } */

  label {
    @apply flex flex-col items-center justify-center text-white text-[1.2rem] gap-2;
  }

  input {
    @apply w-xs h-[2.5rem] rounded-md text-white text-[1.2rem] text-center px-2 outline-none border border-white bg-transparent;
  }

  input[type="radio"] {
    @apply size-4 text-sm cursor-pointer
  }


}